.targets{
    padding-top: 100px;
    background-color: #E5E5E5;
    &__slider{
        position: relative;
        z-index: 2;
    }
    &__top{
        display: grid;
        grid-template-columns: 35% 65%;
        margin-bottom: 60px;
    }
    //Немного изменил стили бутстрап, знаю что делать это не желательно
    .carousel-control-prev{
        position: static !important;
    }
    .carousel-control-next{
        position: static !important;
    }
    .carousel-control-prev-icon{
        position: absolute;
        left: -50px;
        top: 50%;
        background-image: url(/components/img/arrows/left-arrow.png);
        transform: translateY(50%);
    }
    .carousel-control-next-icon{
        position: absolute;
        right: -50px;
        top: 50%;
        background-image: url(/components/img/arrows/right-arrow.png);
        transform: translateY(50%);
    }
}