.trust{
    &__row{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-top: 90px;
        &:nth-last-child(1){
            margin-bottom: 100px;
        }
    }
    &__item{
        &:nth-child(2){
            padding-left: 160px;
        }
    }
    &__subtitle{
        margin-bottom: 30px;
    }
    &__li{
        margin-bottom: 35px;
        position: relative;
        color: black;
        font-family: 'lato', sans-serif;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: 1%;
        &::before{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            left: -45px;
            border-radius: 50%;
            transform: translateY(-50%);
            top: 50%;
            background-color: #DEC377;
        }
    }
}